USE [master]
GO
/****** Object:  Database [BAE]    Script Date: 24/11/2023 05:38:03 p. m. ******/
CREATE DATABASE [BAE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BAE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\BAE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BAE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\BAE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BAE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BAE]
GO
/****** Object:  Table [dbo].[Configuracion]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuracion](
	[recurso] [varchar](50) NULL,
	[propiedad] [varchar](50) NULL,
	[valor] [varchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[idDetallePedido] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NULL,
	[idLibro] [int] NULL,
	[editorialLibro] [varchar](100) NULL,
	[tituloLibro] [varchar](100) NULL,
	[generoLibro] [varchar](100) NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[idDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[idVenta] [int] NULL,
	[idLibro] [int] NULL,
	[editorialLibro] [varchar](100) NULL,
	[tituloLibro] [varchar](100) NULL,
	[generoLibro] [varchar](100) NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[idEditorial] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[esActivo] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[idGenero] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[esActivo] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[idLibro] [int] IDENTITY(1,1) NOT NULL,
	[CodigoBarra] [varchar](50) NULL,
	[isbn] [varchar](50) NULL,
	[Titulo] [varchar](100) NULL,
	[precio] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[Autor] [varchar](50) NULL,
	[urlImagen] [varchar](500) NULL,
	[nombreImagen] [varchar](100) NULL,
	[idGenero] [int] NULL,
	[idEditorial] [int] NULL,
	[esActivo] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[idMenu] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NULL,
	[idMenuPadre] [int] NULL,
	[icono] [varchar](30) NULL,
	[controlador] [varchar](30) NULL,
	[paginaAccion] [varchar](30) NULL,
	[esActivo] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Negocio]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Negocio](
	[idNegocio] [int] NOT NULL,
	[urlLogo] [varchar](500) NULL,
	[nombreLogo] [varchar](100) NULL,
	[numeroDocumento] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[correo] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[porcentajeImpuesto] [decimal](10, 2) NULL,
	[simboloMoneda] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumeroCorrelativo]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumeroCorrelativo](
	[idNumeroCorrelativo] [int] IDENTITY(1,1) NOT NULL,
	[ultimoNumero] [int] NULL,
	[cantidadDigitos] [int] NULL,
	[gestion] [varchar](100) NULL,
	[fechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idNumeroCorrelativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[numeroPedido] [varchar](6) NULL,
	[idTipoDocumentoPedido] [int] NULL,
	[idUsuario] [int] NULL,
	[idTienda] [int] NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[estado] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
	[fechaEntrega] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NULL,
	[esActivo] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolMenu]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolMenu](
	[idRolMenu] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NULL,
	[idMenu] [int] NULL,
	[esActivo] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRolMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tienda]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tienda](
	[idTienda] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[esActivo] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTienda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumentoVenta]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumentoVenta](
	[idTipoDocumentoVenta] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[esActivo] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoDocumentoVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[correo] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[idRol] [int] NULL,
	[urlFoto] [varchar](500) NULL,
	[nombreFoto] [varchar](100) NULL,
	[clave] [varchar](100) NULL,
	[esActivo] [bit] NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 24/11/2023 05:38:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[numeroVenta] [varchar](6) NULL,
	[idTipoDocumentoVenta] [int] NULL,
	[idUsuario] [int] NULL,
	[documentoCliente] [varchar](11) NULL,
	[nombreCliente] [varchar](100) NULL,
	[subTotal] [decimal](10, 2) NULL,
	[impuestoTotal] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Configuracion] ([recurso], [propiedad], [valor]) VALUES (N'FireBase_Storage', N'email', N'autorized@gmail.com')
INSERT [dbo].[Configuracion] ([recurso], [propiedad], [valor]) VALUES (N'FireBase_Storage', N'clave', N'mentoring')
INSERT [dbo].[Configuracion] ([recurso], [propiedad], [valor]) VALUES (N'FireBase_Storage', N'ruta', N'ventasasp-8d05c.appspot.com')
GO
SET IDENTITY_INSERT [dbo].[DetallePedido] ON 

INSERT [dbo].[DetallePedido] ([idDetallePedido], [idPedido], [idLibro], [editorialLibro], [tituloLibro], [generoLibro], [cantidad], [precio], [total]) VALUES (33, 55, 1, N'Dorling Kindersley', N'1984', N'Infantil', 12, CAST(34.00 AS Decimal(10, 2)), CAST(408.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([idDetallePedido], [idPedido], [idLibro], [editorialLibro], [tituloLibro], [generoLibro], [cantidad], [precio], [total]) VALUES (34, 56, 4, N'Puffin Books', N'The Great Gatsby', N'Autobiografía', 12, CAST(54.00 AS Decimal(10, 2)), CAST(648.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([idDetallePedido], [idPedido], [idLibro], [editorialLibro], [tituloLibro], [generoLibro], [cantidad], [precio], [total]) VALUES (35, 57, 28, N'Macmillan Publishers', N'The Lord of the Rings', N'Arte', 12, CAST(23.00 AS Decimal(10, 2)), CAST(276.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallePedido] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([idDetalleVenta], [idVenta], [idLibro], [editorialLibro], [tituloLibro], [generoLibro], [cantidad], [precio], [total]) VALUES (28, 11, 1, N'Dorling Kindersley', N'1984', N'Infantil', 43, CAST(123.45 AS Decimal(10, 2)), CAST(5308.35 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([idDetalleVenta], [idVenta], [idLibro], [editorialLibro], [tituloLibro], [generoLibro], [cantidad], [precio], [total]) VALUES (29, 11, 15, N'Dorling Kindersley', N'The Brothers Karamazov', N'Biografía', 12, CAST(113.90 AS Decimal(10, 2)), CAST(1366.80 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([idDetalleVenta], [idVenta], [idLibro], [editorialLibro], [tituloLibro], [generoLibro], [cantidad], [precio], [total]) VALUES (30, 11, 2, N'Doubleday', N'Brave New World', N'Ciencia Ficción', 21, CAST(89.90 AS Decimal(10, 2)), CAST(1887.90 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([idEditorial], [descripcion], [esActivo], [fechaRegistro]) VALUES (1, N'Penguin Random House', 1, CAST(N'2023-11-06T20:07:29.120' AS DateTime))
INSERT [dbo].[Editorial] ([idEditorial], [descripcion], [esActivo], [fechaRegistro]) VALUES (2, N'HarperCollins', 0, CAST(N'2023-11-06T20:07:29.120' AS DateTime))
INSERT [dbo].[Editorial] ([idEditorial], [descripcion], [esActivo], [fechaRegistro]) VALUES (3, N'Macmillan Publishers', 1, CAST(N'2023-11-06T20:07:29.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[Editorial] OFF
GO
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([idGenero], [descripcion], [esActivo], [fechaRegistro]) VALUES (1, N'Ficción', 1, CAST(N'2023-11-06T20:07:29.120' AS DateTime))
INSERT [dbo].[Genero] ([idGenero], [descripcion], [esActivo], [fechaRegistro]) VALUES (2, N'No Ficción', 1, CAST(N'2023-11-06T20:07:29.120' AS DateTime))
INSERT [dbo].[Genero] ([idGenero], [descripcion], [esActivo], [fechaRegistro]) VALUES (3, N'Ciencia Ficción', 1, CAST(N'2023-11-06T20:07:29.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[Genero] OFF
GO
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([idLibro], [CodigoBarra], [isbn], [Titulo], [precio], [stock], [Autor], [urlImagen], [nombreImagen], [idGenero], [idEditorial], [esActivo], [fechaRegistro]) VALUES (1, N'9780451524935', N'0451524934', N'1984', CAST(123.45 AS Decimal(10, 2)), 24, N'George Orwell', N'https://firebasestorage.googleapis.com/v0/b/ventasasp-8d05c.appspot.com/o/IMAGENES_PRODUCTO%2F8e239d5159b34b13a1754ec2d4b24248.jpg?alt=media&token=98f67919-07b7-4176-b33a-b9b4bdbd4085', N'8e239d5159b34b13a1754ec2d4b24248.jpg', 12, 27, 1, CAST(N'2023-11-06T20:07:29.123' AS DateTime))
INSERT [dbo].[Libro] ([idLibro], [CodigoBarra], [isbn], [Titulo], [precio], [stock], [Autor], [urlImagen], [nombreImagen], [idGenero], [idEditorial], [esActivo], [fechaRegistro]) VALUES (2, N'9780451524936', N'0451524935', N'Brave New World', CAST(89.90 AS Decimal(10, 2)), 73, N'Aldous Huxley', N'https://firebasestorage.googleapis.com/v0/b/ventasasp-8d05c.appspot.com/o/IMAGENES_PRODUCTO%2Ffa0da145ca8345f8b5e39106d42c56aa.jpg?alt=media&token=9e0a4efd-8aac-4d69-b080-a45cae4c20e5', N'fa0da145ca8345f8b5e39106d42c56aa.jpg', 3, 15, 1, CAST(N'2023-11-06T20:07:29.123' AS DateTime))
INSERT [dbo].[Libro] ([idLibro], [CodigoBarra], [isbn], [Titulo], [precio], [stock], [Autor], [urlImagen], [nombreImagen], [idGenero], [idEditorial], [esActivo], [fechaRegistro]) VALUES (3, N'9780451524937', N'0451524936', N'To Kill a Mockingbird', CAST(67.50 AS Decimal(10, 2)), 86, N'Harper Lee', N'https://firebasestorage.googleapis.com/v0/b/ventasasp-8d05c.appspot.com/o/IMAGENES_PRODUCTO%2Fb68367e4b89f4ff3966db50d78e634cd.jpg?alt=media&token=99b2b503-ff0f-45a6-95e1-a4f116c8c8d1', N'b68367e4b89f4ff3966db50d78e634cd.jpg', 7, 21, 1, CAST(N'2023-11-06T20:07:29.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[Libro] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([idMenu], [descripcion], [idMenuPadre], [icono], [controlador], [paginaAccion], [esActivo], [fechaRegistro]) VALUES (1, N'DashBoard', 1, N'fas fa-fw fa-tachometer-alt', N'DashBoard', N'Index', 1, CAST(N'2023-11-07T15:11:09.643' AS DateTime))
INSERT [dbo].[Menu] ([idMenu], [descripcion], [idMenuPadre], [icono], [controlador], [paginaAccion], [esActivo], [fechaRegistro]) VALUES (2, N'Administracion', 2, N'fas fa-fw fa-cog', NULL, NULL, 1, CAST(N'2023-11-07T15:11:09.643' AS DateTime))
INSERT [dbo].[Menu] ([idMenu], [descripcion], [idMenuPadre], [icono], [controlador], [paginaAccion], [esActivo], [fechaRegistro]) VALUES (3, N'Libros', 3, N'fas fa-fw fa-clipboard-list', NULL, NULL, 1, CAST(N'2023-11-07T15:11:09.643' AS DateTime))
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
INSERT [dbo].[Negocio] ([idNegocio], [urlLogo], [nombreLogo], [numeroDocumento], [nombre], [correo], [direccion], [telefono], [porcentajeImpuesto], [simboloMoneda]) VALUES (1, N'https://firebasestorage.googleapis.com/v0/b/ventasasp-8d05c.appspot.com/o/IMAGENES_LOGO%2Fb4f6cd8e413243d3b83c33c5f107a1c3.webp?alt=media&token=60165eaa-7c38-4647-8b4f-12e53d57749a', N'b4f6cd8e413243d3b83c33c5f107a1c3.webp', N'106069224', N'DistribuidoraBAE', N'weboperaciones@nbae.com', N'Av. Los Olivos 1684', N'987143576', CAST(18.00 AS Decimal(10, 2)), N's/.')
GO
SET IDENTITY_INSERT [dbo].[NumeroCorrelativo] ON 

INSERT [dbo].[NumeroCorrelativo] ([idNumeroCorrelativo], [ultimoNumero], [cantidadDigitos], [gestion], [fechaActualizacion]) VALUES (1, 13, 6, N'venta', CAST(N'2023-11-17T16:25:19.957' AS DateTime))
INSERT [dbo].[NumeroCorrelativo] ([idNumeroCorrelativo], [ultimoNumero], [cantidadDigitos], [gestion], [fechaActualizacion]) VALUES (2, 58, 6, N'Pedido', CAST(N'2023-11-18T07:55:56.333' AS DateTime))
SET IDENTITY_INSERT [dbo].[NumeroCorrelativo] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([idPedido], [numeroPedido], [idTipoDocumentoPedido], [idUsuario], [idTienda], [Total], [estado], [fechaRegistro], [fechaEntrega]) VALUES (55, N'000055', 1, 1, 31, CAST(408.00 AS Decimal(10, 2)), 1, CAST(N'2023-11-17T17:40:11.347' AS DateTime), CAST(N'2023-11-17T17:40:54.767' AS DateTime))
INSERT [dbo].[Pedido] ([idPedido], [numeroPedido], [idTipoDocumentoPedido], [idUsuario], [idTienda], [Total], [estado], [fechaRegistro], [fechaEntrega]) VALUES (56, N'000056', 1, 1, 31, CAST(648.00 AS Decimal(10, 2)), 1, CAST(N'2023-11-18T07:44:57.343' AS DateTime), CAST(N'2023-11-18T07:45:41.093' AS DateTime))
INSERT [dbo].[Pedido] ([idPedido], [numeroPedido], [idTipoDocumentoPedido], [idUsuario], [idTienda], [Total], [estado], [fechaRegistro], [fechaEntrega]) VALUES (57, N'000057', 1, 1, 35, CAST(276.00 AS Decimal(10, 2)), 0, CAST(N'2023-11-18T07:46:47.580' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([idRol], [descripcion], [esActivo], [fechaRegistro]) VALUES (1, N'Administrador', 1, CAST(N'2023-11-06T20:07:29.117' AS DateTime))
INSERT [dbo].[Rol] ([idRol], [descripcion], [esActivo], [fechaRegistro]) VALUES (2, N'Empleado', 1, CAST(N'2023-11-06T20:07:29.117' AS DateTime))
INSERT [dbo].[Rol] ([idRol], [descripcion], [esActivo], [fechaRegistro]) VALUES (3, N'Supervisor', 1, CAST(N'2023-11-06T20:07:29.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[RolMenu] ON 

INSERT [dbo].[RolMenu] ([idRolMenu], [idRol], [idMenu], [esActivo], [fechaRegistro]) VALUES (1, 1, 1, 1, CAST(N'2023-11-07T15:16:31.170' AS DateTime))
INSERT [dbo].[RolMenu] ([idRolMenu], [idRol], [idMenu], [esActivo], [fechaRegistro]) VALUES (2, 1, 7, 1, CAST(N'2023-11-07T15:16:31.170' AS DateTime))
INSERT [dbo].[RolMenu] ([idRolMenu], [idRol], [idMenu], [esActivo], [fechaRegistro]) VALUES (3, 1, 8, 1, CAST(N'2023-11-07T15:16:31.170' AS DateTime))
SET IDENTITY_INSERT [dbo].[RolMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[Tienda] ON 

INSERT [dbo].[Tienda] ([idTienda], [descripcion], [esActivo], [fechaRegistro]) VALUES (21, N'Zalando', 0, CAST(N'2023-11-07T16:32:11.437' AS DateTime))
INSERT [dbo].[Tienda] ([idTienda], [descripcion], [esActivo], [fechaRegistro]) VALUES (22, N'ASOS', 0, CAST(N'2023-11-07T16:32:11.437' AS DateTime))
INSERT [dbo].[Tienda] ([idTienda], [descripcion], [esActivo], [fechaRegistro]) VALUES (23, N'Rakuten', 0, CAST(N'2023-11-07T16:32:11.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tienda] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoDocumentoVenta] ON 

INSERT [dbo].[TipoDocumentoVenta] ([idTipoDocumentoVenta], [descripcion], [esActivo], [fechaRegistro]) VALUES (1, N'Boleta', 1, CAST(N'2023-11-06T20:07:29.127' AS DateTime))
INSERT [dbo].[TipoDocumentoVenta] ([idTipoDocumentoVenta], [descripcion], [esActivo], [fechaRegistro]) VALUES (2, N'Factura', 1, CAST(N'2023-11-06T20:07:29.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[TipoDocumentoVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [nombre], [correo], [telefono], [idRol], [urlFoto], [nombreFoto], [clave], [esActivo], [fechaRegistro]) VALUES (1, N'omarlujan', N'n00209455@upn.pe', N'909090', 1, N'https://firebasestorage.googleapis.com/v0/b/ventasasp-8d05c.appspot.com/o/IMAGENES_USUARIO%2Faf64a6e71cec4158a8f42a915ae1876d.jpg?alt=media&token=52a9ea9d-db34-49c7-88de-6f703da37513', N'af64a6e71cec4158a8f42a915ae1876d.jpg', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 1, CAST(N'2023-11-06T20:07:29.120' AS DateTime))
INSERT [dbo].[Usuario] ([idUsuario], [nombre], [correo], [telefono], [idRol], [urlFoto], [nombreFoto], [clave], [esActivo], [fechaRegistro]) VALUES (3, N'omarlujan', N'omarlujan.h@gmail.com', N'912565908', 3, N'https://firebasestorage.googleapis.com/v0/b/ventasasp-8d05c.appspot.com/o/IMAGENES_USUARIO%2F94fd886b28464b1b9950e47c3f25f594.jpg?alt=media&token=cd9de63b-5d1d-410f-9ced-494b736330cc', N'94fd886b28464b1b9950e47c3f25f594.jpg', N'4243725a1c62da59b04c37d134156e3fe084c1b200482e68352d8118fb25d46f', 1, CAST(N'2023-11-06T23:20:13.910' AS DateTime))
INSERT [dbo].[Usuario] ([idUsuario], [nombre], [correo], [telefono], [idRol], [urlFoto], [nombreFoto], [clave], [esActivo], [fechaRegistro]) VALUES (4, N'supervisor', N'koltelardi@gufum.com', N'934567745', 3, N'https://firebasestorage.googleapis.com/v0/b/ventasasp-8d05c.appspot.com/o/IMAGENES_USUARIO%2F0d047759f13a477a8b370920190295bd.gif?alt=media&token=e620a114-c2fc-42c8-b8c0-bc82843eabe5', N'0d047759f13a477a8b370920190295bd.gif', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 1, CAST(N'2023-11-06T23:25:28.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([idVenta], [numeroVenta], [idTipoDocumentoVenta], [idUsuario], [documentoCliente], [nombreCliente], [subTotal], [impuestoTotal], [Total], [fechaRegistro]) VALUES (11, N'000011', 2, 1, N'20107798049', N'UNIVERSIDAD DE LIMA', CAST(16333.18 AS Decimal(10, 2)), CAST(2939.97 AS Decimal(10, 2)), CAST(19273.15 AS Decimal(10, 2)), CAST(N'2023-11-15T17:22:34.377' AS DateTime))
INSERT [dbo].[Venta] ([idVenta], [numeroVenta], [idTipoDocumentoVenta], [idUsuario], [documentoCliente], [nombreCliente], [subTotal], [impuestoTotal], [Total], [fechaRegistro]) VALUES (12, N'000012', 2, 1, N'20172557628', N'UNIVERSIDAD NACIONAL DE TRUJILLO', CAST(1755.42 AS Decimal(10, 2)), CAST(315.98 AS Decimal(10, 2)), CAST(2071.40 AS Decimal(10, 2)), CAST(N'2023-11-17T13:57:24.507' AS DateTime))
INSERT [dbo].[Venta] ([idVenta], [numeroVenta], [idTipoDocumentoVenta], [idUsuario], [documentoCliente], [nombreCliente], [subTotal], [impuestoTotal], [Total], [fechaRegistro]) VALUES (13, N'000013', 1, 1, N'20141878477', N'UNIVERSIDAD PRIVADA ANTENOR ORREGO', CAST(3049.83 AS Decimal(10, 2)), CAST(548.97 AS Decimal(10, 2)), CAST(3598.80 AS Decimal(10, 2)), CAST(N'2023-11-17T16:25:20.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
ALTER TABLE [dbo].[Editorial] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Genero] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Libro] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[RolMenu] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Tienda] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[TipoDocumentoVenta] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([idPedido])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([idVenta])
REFERENCES [dbo].[Venta] ([idVenta])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([idEditorial])
REFERENCES [dbo].[Editorial] ([idEditorial])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([idGenero])
REFERENCES [dbo].[Genero] ([idGenero])
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD FOREIGN KEY([idMenuPadre])
REFERENCES [dbo].[Menu] ([idMenu])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([idTienda])
REFERENCES [dbo].[Tienda] ([idTienda])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([idTipoDocumentoPedido])
REFERENCES [dbo].[TipoDocumentoVenta] ([idTipoDocumentoVenta])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[RolMenu]  WITH CHECK ADD FOREIGN KEY([idMenu])
REFERENCES [dbo].[Menu] ([idMenu])
GO
ALTER TABLE [dbo].[RolMenu]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([idTipoDocumentoVenta])
REFERENCES [dbo].[TipoDocumentoVenta] ([idTipoDocumentoVenta])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
USE [master]
GO
