@{
    ViewData["Title"] = "Sin Acceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">No Autorizado</h1>
    <p>El usuario no cuenta con permisos para ver esta pagina</p>
</div>